<html>

<head>
    <title>Item Details</title>
</head>

<body>
</body>

<script type="module">
    import { h, render } from 'https://esm.sh/preact';
    import htm from 'https://esm.sh/htm';

    const html = htm.bind(h);

    function App(props) {
        return html`
            <h1>Hello ${props.name}!</h1>
            <${TeamName} teamName={{team_name}} />
        `;
    }

    function TeamName({ teamName }) {
        return html`
            <div>
                <strong>${teamName}</strong> is the best team!
            </div>
        `
    }

    render(html`<${App} name="World" />`, document.body);
</script>

</html>